body,html {
  background-image: url("../fondoweb.jpeg");
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative; 
}
h2 {
  text-align: start;
}
.container {
  border: 3px solid;
  padding: 17px;
  border-radius: 4%;
  width: 400px;
  text-align: center;
  /*centrar*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logincuadrado {
  background-color: rgb(255, 255, 255);

}

.cuadradogrey {
  background-color: rgba(0, 0, 0, 0.124);
  
  align-items: center;
  padding: 10px;
  
}

.logincuadrado,
.cuadradogrey {
  display: flex;
  flex-direction: column;
}

.imgicono {
  width: 12px;
}

.btn {
  background-color: rgb(162, 186, 207);
  border-color: black;
}
.cabeceralogin {
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
#candado {
  max-width: 50px;
  max-height: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

input {
  padding: 2px;
  border: none;
  margin-top: 5px;
}

#botonlogin {
  border: white solid;
  color: black;
  margin-bottom: 2px;
  background-color: rgb(162, 186, 207);
}
